# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# IDE files
.idea/
.vscode/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# PTK cache
.PTK-cache/

# Environment variables
.env
.env.local

# Playwright and Playwright CLI
.playwright/
.playwright-cli/

# Screenshots
screenshots/

# Norebooks
.ipynb_checkpoints/
*.ipynb

# Temp files
*tmp*